.FormCompanySearch {
    form {
        width: 40%;
        background-color: white;
        padding: 20px;
        margin: 0 auto;
        border: 1px solid white;
        border-radius: 20px;
        height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        button {
            width: 100px;
        }
    }
}